@model PlattCodingChallenge.Models.PlanetResidentsViewModel

<!DOCTYPE html>

<html>
    <head>
        <title>Residents of Planet Naboo</title>
    </head>
    <body>
        <div>
            <h3>Residents of Planet Naboo</h3>
            @foreach (var person in Model.Residents)
            {
                <div>
                    <ul>
                        <li>Name: @person.Name</li>
                        <li>Gender: @person.Gender</li>
                        <li>Height: @person.Height cm</li>
                        <li>Weight: @person.Weight kg</li>
                        <li>Hair Color: @person.HairColor</li>
                        <li>Eye Color: @person.EyeColor</li>
                        <li>Skin Color: @person.SkinColor</li>
                    </ul>
                </div>
            }
        </div>
    </body>
</html>